<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about.html/">Index</a><br />
            <img src="{media/pfp1.jpg' %}"
            alt="There is no puzzle without an answer" /> <!-- New line -->
            </div>
    </body>
</html>